name: Django app deploy

on:
  push:
    branches:
      - main

jobs:
  build_and_deploy:
    runs-on: ubuntu-latest

    steps:
      # Step 1: Checkout repository
      - name: Checkout repository
        uses: actions/checkout@v4

      # Step 2: Configure AWS credentials
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v3
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: eu-north-1
      
      # Step 3: Login to Amazon ECR
      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v1

      # Step 4: Build and push image with Docker Compose
      - name: Build and push Django app image
        id: build-image
        env:
          ECR_REGISTRY: ${{ steps.login-ecr.outputs.registry }}
          IMAGE_TAG: ${{ github.sha }}
        run: |
          docker compose -f docker-compose.yml build django_app
          docker compose -f docker-compose.yml push django_app
          echo "image=$ECR_REGISTRY/django_app:$IMAGE_TAG" >> $GITHUB_OUTPUT

      # Step 5: Render ECS task definition with new image
      - name: Render ECS task definition
        id: task-def
        uses: aws-actions/amazon-ecs-render-task-definition@v1
        with:
          task-definition: node_js_td.json  # path to your ECS task definition file
          container-name: nodejs_app          # must match ECS task definition container name
          image: ${{ steps.build-image.outputs.image }}

      # Step 6: Deploy ECS task definition
      - name: Deploy ECS task definition
        uses: aws-actions/amazon-ecs-deploy-task-definition@v2
        with:
          task-definition: ${{ steps.task-def.outputs.task-definition }}
          service: node_js_app                # your ECS service name
          cluster: CICD_Cluster            # your ECS cluster name
          wait-for-service-stability: true
